div {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-size: 55px;
    margin-bottom: 20%;
    border-color: rgb(81, 0, 255) 15px;
}

.wlc {
    color: rgb(231, 31, 31);
}

.ping {
    color: rgb(8, 0, 255);
}

h3 {
    position: absolute;
    font-size: 35px;
    margin-top: 290px;
    margin-left: 1300px;
    color: rgb(0, 26, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    margin-left: 45%;
    margin-top: 260px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(111, 150, 223);
}

body {
    background-image: url("./qwertasdfgh.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
}